%table.table.table-striped
  %tbody
    - @movie.comments.persisted.each do |comment|
      %tr
        %td
          %strong
            %p= comment.body
        %td
          - if current_user
            %p= link_to 'Delete', movie_comment_path(@movie, comment), method: :delete, data: { confirm: 'Are you sure?' }
